<h1>PICSYデモ（全体俯瞰図）</h1>

<h2>評価行列</h2>
<table class="table table-bordered selectable">
  <tr>
    <th>アクター</th>
    <th>貢献度</th>
    <% @people.each.with_index do |person, i| %>
    <th id="to-p<%= i+1 %>">To P<%= i+1 %></th>
    <% end %>
  </tr>
  <% @matrix.each.with_index do |row, i| %>
  <tr>
    <th id="from-p<%= i+1 %>">P<%= i+1 %></th>
    <td><%= sprintf("%0.04f", @contributions[i]) %></td>
    <% row.each.with_index do |col, j| %>
    <td style="cursor:pointer"><%= sprintf("%0.04f", col) %></td>
    <% end %>
  </tr>
  <% end %>
</table>

<div id="message" class="alert alert-info" style="display:none"></div>

<h2>取引実行</h2>
<div style="text-valign:center">
	<span>From</span>
	<div class="btn-group">
		<button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			Person
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<% @people.each.with_index do |person, i| %>
			<li><%= link_to_function "P#{i+1}", "#" %></li>
			<% end %>
		</ul>
	</div>
	<span>To</span>
	<div class="btn-group">
		<button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			Person
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<% @people.each.with_index do |person, i| %>
			<li><%= link_to_function "P#{i+1}", "#" %></li>
			<% end %>
		</ul>
	</div>
	<span>
		<%= text_field_tag :amount, "", :style => "width:50px" %>
	</span>
</div>

<div style="display:none">
	<form class="navbar-search">
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
			<% @people.each.with_index do |person, i| %>
			<li>P<%= i+1 %></li>
			<% end %>
		</ul>
		<input type="text" class="span2">
		<button type="submit" class="btn">取引実行</button>
	</form>
</div>

<% if @trades.size > 0 %>
<h2>取引履歴</h2>
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>#</th>
    <th>actors</th>
    <th>amount</th>
    <% @matrix[0].each.with_index do |col, i| %>
    <th>P<%= i+1 %></th>
    <% end %>
  </tr>
  <% @trades.each do |trade| %>
  <tr>
    <th>#<%= trade.id %></th>
    <td>P<%= trade.buyable_id %> &rarr; P<%= trade.sellable_id %></td>
    <td><%= sprintf("%0.04f", trade.amount) %></td>
    <% trade.propagations.each do |prop| %>
    <td><%= sprintf("%0.04f", prop.amount) %></td>
    <% end %>
  </tr>
  <% end %>
</table>
<% end %>
