<p id="notice"><%= notice %></p>

<p>
  <strong>Sellable:</strong>
  <%= @item.sellable %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Fixed price:</strong>
  <%= @item.fixed_price %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
