<%- model_class = Market -%>
<h1><%= @market.name %></h1>

<table class="table table-bordered selectable">
  <tr>
    <th>アクター</th>
    <th>貢献度</th>
    <th>予算制約</th>
    <th>PICSY効果</th>
    <% @people.each.with_index do |person, i| %>
      <th id="to-p<%= person.id %>">
        <%= render :partial => "people/partial", :locals => { :person => person } %>
      </th>
    <% end %>
  </tr>
  <% @matrix.each.with_index do |row, i| %>
  <tr>
    <!-- アクター -->
    <th id="from-p<%= @people[i].id %>">
      <%= render :partial => "people/partial", :locals => { :person => @people[i] } %>
    </th>
    <!-- 貢献度 -->
    <td>
      <%= @contributions[i] %>
      <% if @last_propagations.present? and @last_propagations[i].amount.present? %>
        <!-- 直近取引の差分表示（貢献度） -->
        <span class="<% if @last_propagations[i].spence? %>text-error<% elsif @last_propagations[i].earn? %>text-success<% else %>text-info<% end %>">(<%= @last_propagations[i].amount_quantized %>)</span>
      <% end %>
    </td>
    <!-- 予算制約 -->
    <td id="self-p<%= @people[i].id %>">
      <%= @people[i].self_evaluation_quantized %>
      <% if @last_trade and @people[i] == @last_trade.buyable %>
        <!-- 直近取引の差分表示（購入者） -->
        <span class="text-error">(-<%= @last_trade.amount_quantized %>)</span>
      <% end %>
    </td>
    <!-- PICSY効果 -->
    <% if @people[i].picsy_effect_quantized.to_i < 0 %>
    <td class="text-error">
    <% else %>
    <td class="text-info">
    <% end %>
      <%= @people[i].picsy_effect_quantized %>
    </td>
    <% row.each.with_index do |col, j| %>
			<% if i == j %>
				<td>-</td>
			<% else %>
        <td class="ev" id="ev-p<%= @people[i].id %>-p<%= @people[j].id %>">
          <%= col %>
          <% if @last_trade and @people[i] == @last_trade.buyable and @people[j] == @last_trade.sellable %>
            <!-- 直近取引の差分表示（販売者） -->
            <span class="text-success">(+<%= @last_trade.amount_quantized %>)</span>
          <% end %>
        </td>
			<% end %>
    <% end %>
  </tr>
  <% end %>
</table>

<% if @market.closed? %>
<div class="well">
  <p class="muted">市場は取引停止中です。取引を再開するには、オーナーに依頼してください。</p>
</div>
<% else %>
<div class="well">
	<%= form_for :market, :url => { :action => :trade } do %>
		<div class="control-group error" style="display:inline">
			<select name="person-from" id="person-from" class="input-medium" required>
				<option></option>
				<% @people.each.with_index do |person, i| %>
        <option value="<%= person.id %>" id="person-from-p<%= person.id %>"><%= person.name %></option>
				<% end %>
			</select>
			<span class="help-inline" style="margin-right:5px">から</span>
		</div>

		<div class="control-group success" style="display:inline">
			<select name="person-to" id="person-to" class="input-medium" required>
				<option></option>
				<% @people.each.with_index do |person, i| %>
        <option value="<%= person.id %>" id="person-to-p<%= person.id %>"><%= person.name %></option>
				<% end %>
			</select>
			<span class="help-inline" style="margin-right:5px">へ</span>
		</div>

		<div class="input-append" style="">
			<div class="control-group" style="display:inline">
				<span>
					<%= text_field_tag :amount, "", :class => "input-small", :style => "text-align:right",
            :type => ("number" if @market.evaluation_parameter > 1),
            :min => "0", :max => @market.evaluation_parameter, :required => "required" %>
				</span>
				<button type="submit" class="btn btn-primary">取引実行</button>
			</div>
		</div>
	<% end %>

	<%= form_for :market, :url => { :action => :natural_recovery },
		:html => { :class => "input-append", :style => "margin:0;padding:0" } do %>
    <%= text_field_tag :natural_recovery_ratio_percent, "1",
      :class => "input-xlarge", :style => "width:100px",
			:type => "number", :min => "1", :max => "99", :required => "required" %>
		<span class="add-on">%</span>
		<button type="submit" class="btn btn-primary">自然回収</button>
	<% end %>
</div>
<% end %>

<% if @trades.size > 0 %>
<h2>取引履歴</h2>
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>#</th>
    <th>アクター</th>
    <th>取引額</th>
    <% @people.each do |person| %>
    <th><%= person.name %></th>
    <% end %>
  </tr>
  <% @trades.each do |trade| %>
  <tr>
    <th>#<%= trade.id %></th>
    <td><%= trade.buyable.name %> &rarr; <%= trade.sellable.name %></td>
    <td><%= trade.amount_quantized %></td>
    <% trade.filled_propagations.each do |prop| %>
			<% if prop.amount.nil? %>
				<td>&nbsp;</td>
			<% else %>
				<td class="<% if prop.spence? %>text-error<% elsif prop.earn? %>text-success<% else %>text-info<% end %>"><%= prop.amount_quantized %></td>
			<% end %>
    <% end %>
  </tr>
  <% end %>
</table>
<% end %>

<div class="well form-actions text-right">
  <% if @market.user.present? %>
	<span>
		オーナー
		<%= image_tag @market.user.image, :height => '24px', :width => "24px", :style => "margin:-7px 2px -2px 0" %>
		<%= @market.user.name %>
	</span>
  <% end %>

	<% if owner? %>
	<span style="margin-left:1em">
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_market_path(@market), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                market_path(@market),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
    <% if @market.opened? %>
      <%= link_to t('.close', :default => t("helpers.links.close")),
        close_market_path(@market), :method => 'put', :class => 'btn btn-warning' %>
    <% elsif @market.closed? %>
      <%= link_to t('.open', :default => t("helpers.links.open")),
        open_market_path(@market), :method => 'put', :class => 'btn btn-primary' %>
    <% end %>
	</span>
<% end %>
</div>
